In [1]:
import pandas as pd
import string

In [2]:
df = pd.read_csv('final_all_names_code.csv')
df.head()

                    Name Country_code Country
0            Amy Johnson        ar_AE      AE
1          Thomas Wright        ar_AE      AE
2   Mr. Marco Flores DDS        ar_AE      AE
3         Marcus Robbins        ar_AE      AE
4       Susan Montgomery        ar_AE      AE

In [3]:
columns = list(string.ascii_lowercase) + ['Country_code','Country']

In [4]:
newdf = pd.DataFrame(columns=columns)
newdf

Empty DataFrame
Columns: [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z, Country_code, Country]
Index: []

[0 rows x 28 columns]

In [5]:
hasharrays = []
for ind in range(10000):
    name = df['Name'][ind]
    nlst = str(name).split()
    lastn = nlst[-1].lower()
    chars = dict.fromkeys(columns,0)
    for i in lastn:
        chars[i] = 1
    chars['Country_code'] = df['Country_code'][ind]
    chars['Country'] = df['Country'][ind]
    hasharrays.append(chars)
aux_df = pd.DataFrame(hasharrays)
newdf = pd.concat([newdf,aux_df],ignore_index=True)

In [6]:
newdf.head()

,a,b,c,d,e,f,g,h,i,j,...,t,u,v,w,x,y,z,Country_code,Country,.
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
1,0,0,0,0,0,0,1,1,1,0,...,1,0,0,1,0,0,0,ar_AE,AE,NaN
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
3,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
4,0,0,0,0,1,0,1,0,0,0,...,1,0,0,0,0,1,0,ar_AE,AE,NaN

In [7]:
newdf.drop(['.'],axis=1,inplace=True)
newdf

,a,b,c,d,e,f,g,h,i,j,...,s,t,u,v,w,x,y,z,Country_code,Country
0,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,ar_AE,AE
1,0,0,0,0,0,0,1,1,1,0,...,0,1,0,0,1,0,0,0,ar_AE,AE
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,ar_AE,AE
3,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,ar_AE,AE
4,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,ar_AE,AE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,ar_EG,EG
9996,0,0,0,0,0,0,0,1,0,0,...,0,1,1,0,0,0,0,0,ar_EG,EG
9997,1,0,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,ar_EG,EG
9998,1,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ar_EG,EG
9999,1,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,ar_EG,EG

In [8]:
X = newdf[list(string.ascii_lowercase)]
Y = newdf['Country']
X

      a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
0     0  0  0  0  0  0  0  1  0  1  ...  0  0  1  0  0  0  0  0  0  0
1     0  0  0  0  0  0  1  1  1  0  ...  0  1  0  1  0  0  1  0  0  0
2     0  0  0  1  0  0  0  0  0  0  ...  0  0  1  0  0  0  0  0  0  0
3     0  1  0  0  0  0  0  0  1  0  ...  0  1  1  0  0  0  0  0  0  0
4     0  0  0  0  1  0  1  0  0  0  ...  0  1  0  1  0  0  0  0  1  0
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
9995  1  0  0  0  0  0  0  0  1  0  ...  0  1  1  0  0  0  0  0  0  0
9996  0  0  0  0  0  0  0  1  0  0  ...  0  0  0  1  1  0  0  0  0  0
9997  1  0  0  0  0  0  0  1  1  0  ...  0  0  0  1  0  0  0  0  0  0
9998  1  0  1  1  1  0  0  0  0  0  ...  0  1  0  0  0  0  0  0  0  0
9999  1  0  0  1  1  0  0  1  0  0  ...  0  1  0  0  0  0  0  0  0  1

[10000 rows x 26 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [10]:
X = StandardScaler().fit_transform(X)
Y = LabelEncoder().fit_transform(Y)

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.2,random_state=0)

In [12]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(100,50,30),solver='adam',activation='relu',random_state=42,verbose=True,
learning_rate_init=0.01,n_iter_no_change=30,max_iter=200)

mlp.fit(xtrain,ytrain)

y_pred = mlp.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ytest,y_pred)

Iteration 1, loss = 0.67965596
Iteration 2, loss = 0.67472067
Iteration 3, loss = 0.67197430
Iteration 4, loss = 0.67195900
Iteration 5, loss = 0.66953382
Iteration 6, loss = 0.67071608
Iteration 7, loss = 0.66817739
Iteration 8, loss = 0.66641137
Iteration 9, loss = 0.66350029
Iteration 10, loss = 0.66099737
Iteration 11, loss = 0.65955512
Iteration 12, loss = 0.65901083
Iteration 13, loss = 0.65819770
Iteration 14, loss = 0.65684889
Iteration 15, loss = 0.65338588
Iteration 16, loss = 0.65559444
Iteration 17, loss = 0.65397804
Iteration 18, loss = 0.65102891
Iteration 19, loss = 0.65455976
Iteration 20, loss = 0.65115278
Iteration 21, loss = 0.64900956
Iteration 22, loss = 0.64777335
Iteration 23, loss = 0.64698374
Iteration 24, loss = 0.64628128
Iteration 25, loss = 0.64447743
Iteration 26, loss = 0.64332285
Iteration 27, loss = 0.64353348
Iteration 28, loss = 0.64320656
Iteration 29, loss = 0.64190233
Iteration 30, loss = 0.64075836
Iteration 31, loss = 0.64011629
Iteration 32, loss = 0.63863854
Iteration 33, loss = 0.63752164
Iteration 34, loss = 0.63577860
Iteration 35, loss = 0.63679949
Iteration 36, loss = 0.63904415
Iteration 37, loss = 0.63537105
Iteration 38, loss = 0.63547526
Iteration 39, loss = 0.63402615
Iteration 40, loss = 0.63415378
Iteration 41, loss = 0.63310030
Iteration 42, loss = 0.63231481
Iteration 43, loss = 0.63197827
Iteration 44, loss = 0.62971184
Iteration 45, loss = 0.63125294
Iteration 46, loss = 0.63044792
Iteration 47, loss = 0.62963418
Iteration 48, loss = 0.62987114
Iteration 49, loss = 0.63004316
Iteration 50, loss = 0.62770801
Iteration 51, loss = 0.63064433
Iteration 52, loss = 0.62838444
Iteration 53, loss = 0.62723953
Iteration 54, loss = 0.62698285
Iteration 55, loss = 0.62569538
Iteration 56, loss = 0.62760803
Iteration 57, loss = 0.62630682
Iteration 58, loss = 0.62641925
Iteration 59, loss = 0.62407640
Iteration 60, loss = 0.62579911
Iteration 61, loss = 0.62596272
Iteration 62, loss = 0.62487859
Iteration 63, loss = 0.62360924
Iteration 64, loss = 0.62454619
Iteration 65, loss = 0.62363193
Iteration 66, loss = 0.62467684
Iteration 67, loss = 0.62376445
Iteration 68, loss = 0.62366040
Iteration 69, loss = 0.62416298
Iteration 70, loss = 0.62408077
Iteration 71, loss = 0.62241868
Iteration 72, loss = 0.62278635
Iteration 73, loss = 0.62320766
Iteration 74, loss = 0.62197273
Iteration 75, loss = 0.62328619
Iteration 76, loss = 0.62158682
Iteration 77, loss = 0.62138926
Iteration 78, loss = 0.62151343
Iteration 79, loss = 0.62167593
Iteration 80, loss = 0.62192229
Iteration 81, loss = 0.62166914
Iteration 82, loss = 0.62196692
Iteration 83, loss = 0.62236578
Iteration 84, loss = 0.62247464
Iteration 85, loss = 0.61982544
Iteration 86, loss = 0.62048181
Iteration 87, loss = 0.62152581
Iteration 88, loss = 0.61934731
Iteration 89, loss = 0.62039468
Iteration 90, loss = 0.61966828
Iteration 91, loss = 0.61940010
Iteration 92, loss = 0.62017534
Iteration 93, loss = 0.62086196
Iteration 94, loss = 0.61991526
Iteration 95, loss = 0.62111697
Iteration 96, loss = 0.62017535
Iteration 97, loss = 0.62054494
Iteration 98, loss = 0.61953403
Iteration 99, loss = 0.62310455
Iteration 100, loss = 0.62119075
Iteration 101, loss = 0.62011972
Iteration 102, loss = 0.61896727
Iteration 103, loss = 0.61909023
Iteration 104, loss = 0.61893210
Iteration 105, loss = 0.61929310
Iteration 106, loss = 0.61892551
Iteration 107, loss = 0.61847051
Iteration 108, loss = 0.61946980
Iteration 109, loss = 0.61848570
Iteration 110, loss = 0.61791587
Iteration 111, loss = 0.61776108
Iteration 112, loss = 0.61920400
Iteration 113, loss = 0.61875310
Iteration 114, loss = 0.61841763
Iteration 115, loss = 0.61883825
Iteration 116, loss = 0.61858333
Iteration 117, loss = 0.61750852
Iteration 118, loss = 0.61838378
Iteration 119, loss = 0.61784784
Iteration 120, loss = 0.62086643
Iteration 121, loss = 0.61927605
Iteration 122, loss = 0.61973055
Iteration 123, loss = 0.61775794
Iteration 124, loss = 0.61900599
Iteration 125, loss = 0.61891380
Iteration 126, loss = 0.61805162
Iteration 127, loss = 0.61724398
Iteration 128, loss = 0.61685996
Iteration 129, loss = 0.61742625
Iteration 130, loss = 0.61672111
Iteration 131, loss = 0.61802165
Iteration 132, loss = 0.61847275
Iteration 133, loss = 0.61658481
Iteration 134, loss = 0.61770494
Iteration 135, loss = 0.61696472
Iteration 136, loss = 0.61874904
Iteration 137, loss = 0.61760944
Iteration 138, loss = 0.61786695
Iteration 139, loss = 0.61792623
Iteration 140, loss = 0.61839905
Iteration 141, loss = 0.61746212
Iteration 142, loss = 0.61869676
Iteration 143, loss = 0.61877947
Iteration 144, loss = 0.61832697
Iteration 145, loss = 0.61675629
Iteration 146, loss = 0.61953618
Iteration 147, loss = 0.61931960
Iteration 148, loss = 0.61722638
Iteration 149, loss = 0.61772524
Iteration 150, loss = 0.61664759
Iteration 151, loss = 0.61796221
Iteration 152, loss = 0.61797078
Iteration 153, loss = 0.61778741
Iteration 154, loss = 0.61699141
Iteration 155, loss = 0.61618983
Iteration 156, loss = 0.61949288
Iteration 157, loss = 0.61991292
Iteration 158, loss = 0.61927662
Iteration 159, loss = 0.61651695
Iteration 160, loss = 0.61561936
Iteration 161, loss = 0.61707407
Iteration 162, loss = 0.61763075
Iteration 163, loss = 0.61501125
Iteration 164, loss = 0.61642093
Iteration 165, loss = 0.61518599
Iteration 166, loss = 0.61610666
Iteration 167, loss = 0.61549810
Iteration 168, loss = 0.61492375
Iteration 169, loss = 0.61697231
Iteration 170, loss = 0.61996311
Iteration 171, loss = 0.61769423
Iteration 172, loss = 0.61519244
Iteration 173, loss = 0.61730291
Iteration 174, loss = 0.61744271
Iteration 175, loss = 0.61930680
Iteration 176, loss = 0.61740983
Iteration 177, loss = 0.61820481
Iteration 178, loss = 0.61633075
Iteration 179, loss = 0.61622410
Iteration 180, loss = 0.61689071
Iteration 181, loss = 0.61681880
Iteration 182, loss = 0.61604944
Iteration 183, loss = 0.61537895
Iteration 184, loss = 0.61619279
Iteration 185, loss = 0.61536390
Iteration 186, loss = 0.61549291
Iteration 187, loss = 0.61633161
Iteration 188, loss = 0.61589059
Iteration 189, loss = 0.61511823
Iteration 190, loss = 0.61886937
Iteration 191, loss = 0.61621916
Iteration 192, loss = 0.61611754
Iteration 193, loss = 0.61666429
Iteration 194, loss = 0.61588246
Training loss did not improve more than tol=0.000100 for 30 consecutive epochs. Stopping.

0.558